<div class="question-page">
    <form method="post">
		<h3 class="question-text">This is the first Question. Please choose your answers from the options below</h3>
        <fieldset>
            <div class="item">
                <input type="radio" name="option_1" >
                <label>Option 1</label>
            </div>
            <div class="item">
                <input type="radio" name="option_2" >
                <label>Option 2</label>
            </div>
            <div class="item">
                <input type="radio" name="option_3" >
                <label>Option 3</label>
            </div>
            <div class="item">
                <input type="radio" name="option_4" >
                <label>Option 4</label>
            </div>
        </fieldset>
        <input type="submit" value="Submit" />
    </form>
</div>
